.productCard {
    border: rgb(225, 224, 224) solid 1px;
    padding: 1rem 1rem 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    color: rgb(23, 22, 22);
}

.productCard div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2rem 0 0 0;
}

.productCard img {
    width: 30%;
    align-self: center;
    margin: 0 0 2rem 0;
}


/* .productCard p:nth-of-type(1) {
    font-size: 2rem;
} */
.product_title {
    font-size: 1.5rem;
}

.productCard p:nth-of-type(2) {
    margin-top: 2rem;
}